{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asia Tours</title>
 <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

     <script src="{% static 'js/scripts.js' %}" defer></script>
    
</head>

<body>
    <h1>Asia Tours Schedule for june 2026</h1>
   <ul>
{% for tour in tours %}
<li>
    {{tour.origin_country}} to {{tour.destination_country}} for {{tour.number_of_nights}} nights at ${{tour.price}}
</li>
{% endfor %}
   </ul>
    <img src="{% static 'images/logo.png' %}" alt="Asia Tours Logo">

</body>
</html> 